body {
	font-family: 'Open Sans';
}
article a {
	color: rgba(13, 61, 155, 1);
}
article a:hover, article a:focus {
	color: rgba(13, 61, 155, 1);
}
.blog-post-container {
	border-bottom: 1px solid rgba(230, 230, 230, 0.8);
	box-shadow: -1px -1px 0 rgba(200, 200, 200, 0.3) inset, 0 0 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	clear: both;
	float: left;
	margin: 20px 0 25px;
	padding: 26px 26px 13px;
	position: relative;
	width: 100%;
}
.blog-title {
	font-size: 3rem;
	font-weight: 200;
	margin: 0 0 5px;
}
.blog-title > a {
	color: rgba(50, 50, 50, 1);
	font-weight: normal;
}
.blog-title > a:hover {
	text-decoration: none;
}
.blog-meta {
	font-size: 13px;
	margin-bottom: 26px;
}
.blog-content p {
	font-size: 16px;
	line-height: 26px;
	color: rgba(50, 50, 50, 1);
	font-weight: normal;
	text-align: justify;
}
